body {
    background-color: #f8f8ff;
}
.artical-list-section {
}
.artical-list-section .title {
    text-align: center;
}
.artical-list-section .btn-block {
    max-width: 200px;
    margin: 20px auto;
    margin-right: 10%;
    display: flex;
}
.artical-list-section .block {
    max-width: 600px;
    width: 100%;
    margin: auto;
    margin: 30px auto;
}
.artical-list-section .block .artical-block {
    box-shadow: 0 0 10px #00000036;
    border-radius: 5px;
    margin: 20px;
}
.artical-list-section .block .artical-block a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #000;
}
.artical-list-section .block .artical-block a p {
    margin: 5px;
}

.artical-detail-section {
    padding: 10px;
}
.artical-detail-section .title {
    text-align: center;
    margin: 20px;
}

.artical-detail-section .card {
    max-width: 600px;
    margin: auto;
    text-align: center;
}
.artical-detail-section .card .btn-block {
    max-width: 100px;
    margin: auto;
}
