iframe{
    display: none;
}
.login-section {
    position: relative;
    height: 90vh;
    background-color: #f8f8ff;
}
.login-section .form-block h2 {
    text-align: center;
    margin: 10px;
}
.login-section .form-block {
    max-width: 600px;
    width: 100%;
    margin: auto;
    background-color: #fff;
    /* padding: 10px 20px 30px 20px; */
    padding: 50px 30px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-section .form-block form > div {
    margin: 20px 0;
}
.login-section .form-block form input {
    height: 45px;
    -webkit-box-shadow: unset !important;
}
.login-section .form-block form .MuiInput-underline::before, .login-section .form-block form .MuiInput-underline::after{
    border: none!important;
    border-color: transparent!important;
    transform: none!important;
}
.login-section .form-block form .form-control {
    height: 45px;
    background-color: transparent;
    overflow: hidden;
}
.login-section .form-block form .MuiInput-underline:before {
    border-bottom: none;
}
.login-section .form-block form .btn-block {
    max-width: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.login-section .form-block form .btn-block:hover{
    color: #fff!important;
}

.header-section {
    background-color: #f8f8ff;
}
.header-section .block {
    background-color: #f8f9fa;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
}
.header-section .block .header-title {
    font-size: 23px;
}
 .form_btn_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }