body {
    background-color: #f8f8ff !important;
}
iframe{
    display: none;
}
.preLoader {
  height: auto;
  position: fixed;
  width: 25%;
  z-index: 999999;
  left: 38%;
  top: 20%;
}

.preLoader img {
  width: 80%;
}
.text-danger {
  color: red !important;
}

.errorMsg {
  color: red !important;
  text-align: left;
}
.star {
  color: #fb404b !important;
  margin-left: 5px;
}
